
body{
    margin:  0 ;
    padding: 0;
    box-sizing: border-box;
}
header{
    border: 1px solid black;
    width: 100%;
    height: 180px;
}
h1{
    margin: 2px 0 0 200px;
}
header>p{
    margin: 30px 0 0 450px;
}
.word1{
    margin-right:5px ;
}
header>ul{
    margin: 30px 0 0 165px;
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 10px;
}
main{
    display:flex;
    flex-wrap: wrap;
    padding: 30px 30px;
    margin-left: 100px;
    margin-right: 70px;
    gap: 40px;
    width: calc(100% - 100px);
}
main .row1,
main .row3,
main .row4,
main .row5{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 70px;
    gap: 7px;
    width: calc(100% - 10px);

}
main .row2{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 10px 70px;
    width: calc(100% - 50px);
}
main .row1 article, main .row2 article{
    margin-bottom: 10px;
    max-width: calc(33.33% - 20px);
    box-sizing: border-box;
}
main .row2 article:first-child{
    margin-right: 1px;
}
main .row1 aside ul li {
    margin-bottom: 20px; 
}

main .row1 article img,main .row2 article img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
main .row4 article,main .row5 article{
    max-width: calc(66.67% - 20px);
    box-sizing: border-box;
    margin-bottom: 10px;
}
main .row4 aside, main .row5 aside{
    max-width: calc(33.33% - 20px);
    box-sizing: border-box;
}
main .row4 aside ul li, main .row5 aside ul li {
    margin-bottom: 20px; 
}
main .row4 article section.top {
   margin-bottom: 60px;
}
input[type="text"]{
    border: 1px solid black;
    border-radius: 5px;
   width: 650px;
    height: 20px;
    font-size: 16px;
    padding: 5px;
}
input[type="text"].big {
    height: 300px;
    resize: vertical; 
    padding: 10px;
    font-size: 16px;
}
footer .wrapper{
    padding: 0 70px; 
    display: flex;
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.topfooter .wrapper {
    padding: 20px 190px;
    gap: 30px;
}

.aboutfoot img{
    float:left;
}

.bottomfooter .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px 190px;
    align-items: center;
}

.bottomfooter ul{
    display: flex;   
    list-style-type: none;
    gap: 20px;
}

.botttomfooter ul li a {
    font-size: 12px;
    color: white;
    text-decoration: none;
}

.botttomfooter a:hover{
    text-decoration: underline;
    color:#83BB13;
}
.footimg, .footerimg2{
    width:75px;
}

.footerimg2 {
   padding-right: 1em;
}


